.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.widget-header button {
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 1.5em;
  line-height: 24px;
}

.widget {
  resize: both;
  overflow: visible;
  min-width: 300px;
  min-height: 350px;
  position: relative;
}

.widget.collapsed {
  min-height: 50px;
  height: auto;
}

